@charset "UTF-8";
@font-face {
  font-family: "PTB";
  src: url("../font/Pretendard-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "SH";
  src: url("../font/SeoulHangang.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "SHB";
  src: url("../font/SeoulHangangB.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  background-color: #f0e4d9;
  font-size: 16px;
  line-height: 1.5;
}
body::-webkit-scrollbar {
  background-color: transparent !important;
  width: 6px;
  height: 6px;
  border-radius: 3px;
}
body::-webkit-scrollbar-thumb {
  background: #e6e6e6 !important;
  border-radius: 3px;
  opacity: 0.5;
}
body::-webkit-scrollbar-track {
  background: transparent !important;
  border-radius: 3px;
}

body, button, input, select, table, textarea {
  font-family: "SH", "HelveticaNeue-Light", "AppleSDGothicNeo-Medium", "Malgun Gothic", "맑은 고딕", "AppleGothic", "Sans-serif", "Dotum", "Verdana", sans-serif;
  color: #222;
  line-height: 1.2;
}

ol, ul {
  list-style: none;
}

em, i, u, b {
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

a {
  color: #222;
  text-decoration: none;
}

img {
  max-width: 100%;
}

table {
  width: 100%;
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
  word-break: break-all;
  table-layout: fixed;
}

button {
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: 0;
  cursor: pointer;
  -webkit-appearance: button;
}

input::-webkit-input-placeholder {
  color: #b3b3b3;
}

textarea::-webkit-input-placeholder {
  color: #b3b3b3;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=text],
input[type=number],
input[type=password] {
  background: none;
  margin: 0;
  padding: 0;
  border: 1px solid #b3b3b3;
  outline: none;
  -webkit-appearance: none;
  font-family: inherit;
}

textarea {
  resize: none;
}

input[type=checkbox] {
  margin: 0;
  padding: 0;
  vertical-align: -2px;
}

* {
  outline: none;
}

.invitationCard_wrap {
  max-width: 760px;
  min-width: 320px;
  margin: 0 auto;
}

.main_visual {
  padding: 15px;
}
.main_visual .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f4f6f5;
  min-height: calc(100vh - 30px);
  padding: 50px 10px;
  border-radius: 7px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.04);
}
.main_visual .inner .sub_logo {
  display: block;
  width: 180px;
  margin: 0 auto;
}
.main_visual .inner .title {
  background: url(../img/main_visual.jpg) 50% 50% no-repeat;
  background-size: contain;
  width: 300px;
  height: 300px;
  margin: 30px 10px 0px 0;
}
.main_visual .inner .title h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 116px 0 0 10px;
  font-size: 29px;
  font-weight: normal;
}
.main_visual .inner .title h1 > em {
  display: block;
  background: url(../img/and.png) 0 0 no-repeat;
  background-size: contain;
  width: 33px;
  height: 15px;
  margin: 6px 0;
  font: 0/0 a;
}
.main_visual .inner .info_msg {
  margin-top: 20px;
}
.main_visual .inner .info_msg > p {
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
}

article section {
  padding: 30px 35px 60px;
}
article section .invitation {
  color: #d2af8c;
  font-family: "PTB";
  font-size: 12px;
  text-align: left;
  letter-spacing: 1px;
}
article .invitation_area .writing {
  margin-top: 60px;
  font-size: 14px;
  word-break: keep-all;
  line-height: 1.4;
}
article .invitation_area .writing > strong {
  display: block;
  font-size: 16px;
}
article .invitation_area .writing > span {
  display: block;
  padding-left: 10px;
  line-height: 1.3;
  color: #777;
  font-size: 13px;
  text-indent: -10px;
}
article .invitation_area .family {
  margin-top: 40px;
}
article .invitation_area .family > ul > li {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 14px;
}
article .invitation_area .family > ul > li:first-of-type {
  margin-top: 0;
}
article .invitation_area .family > ul > li .parents {
  margin-right: 7px;
}
article .invitation_area .family > ul > li .parents strong {
  display: block;
  font-weight: normal;
  line-height: 1.3;
}
article .invitation_area .family > ul > li > strong {
  margin-left: 7px;
}
article .contact_area {
  background: #fff;
}

#map {
  width: 300px;
  height: 300px;
}

/*# sourceMappingURL=style.css.map */
